# root
/.idea

# Pokemon
/Pokemon/Pokemon/obj/
/Pokemon/Pokemon/bin/
/Pokemon/.idea
/Pokemon/*/bin
/Pokemon/*/obj
/Pokemon/Pokemon/wwwroot/lib/bootstrap
/Pokemon/Pokemon/wwwroot/lib/bootstrap/dist
/Pokemon/Pokemon/wwwroot/lib/bootstrap/LICENSE
/Pokemon/Pokemon/wwwroot/lib/font-awesome
/Pokemon/WebApplication1
/Pokemon/.vs

# Typescript
/typescript/.idea
