<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="bg-dark text-white p-2">
    <nav class="container-fluid">
        <div class="row">
            <div class="col navbar-brand h1">Pokemon</div>
            <div class="col-6 text-end">Hola</div>
        </div>
    </nav>
</nav>

@RenderBody()

</body>
</html>