@page "{region?}"
@model LocationsModel
@{
    ViewData["Title"] = "Locations";
    Layout = "Shared/_LocationLayout";
}

@if (RouteData.Values["region"] is string s)
{
    <h1>@s.ToUpper()</h1>
}

<ul class="list-group">
    @foreach (var location in Model.Locations)
    {
        <li class="list-group-item">@string.Join(" ", location.Split('-'))</li>
    }
</ul>